<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/public/vendor/styles/updateProfile.css">
<title><%= user.name.split(' ')[0] %> : Profile</title>
</head>
<body>


    <!-- the navbar -->
    <%- include('../includes/navbar.ejs') %>
    <!-- navbar -->



    <!-- profile -->
    <!-- Profile -->
	<!-- Create Profile -->
	<div class="create-profile">
		<div class="container">
			<div class="row">
				<div class="col-md-8 m-auto">
					<a href="/dev/dashboard" class="badge btn-warning">
						Go Back
					</a>
					<h1 class="display-4 text-center btn badge-danger header">Update Your Profile</h1>
					<p class="lead text-left text-">Let's update your profile</p>
					<small class="d-block pb-3"><span style="color: red;">*</span> = required field</small>
					<%- include('./includes/profile_messages.ejs') %>
					<form action="/dev/profile/update" method="POST">
						<div class="form-group">
							<input
								type="text"
								class="form-control form-control-lg"
								placeholder="* Profile handle"
								name="handle"
								value="<%= profile.handle %> "
							/>
							<small class="form-text text-muted">A unique handle for your profile URL. Your full name, company name, nickname, etc (This CAN'T be changed later)</small>
						</div>
						<div class="form-group">
							<select class="form-control form-control-lg" name="status">
                                <option>
                                    <%= profile.status %>
                                </option>
								<option value="Developer">Developer</option>
								<option value="Junior Developer">Junior Developer</option>
								<option value="Senior Developer">Senior Developer</option>
								<option value="Manager">Manager</option>
								<option value="Student or Learning">Student or Learning</option>
								<option value="Instructor">Instructor or Teacher</option>
								<option value="Intern">Intern</option>
								<option value="Other">Other</option>
							</select>
							<small class="form-text text-muted">Give us an idea of where you are at in your career</small>
						</div>
						<div class="form-group">
							<input
								type="text"
								class="form-control form-control-lg"
								placeholder="Company"
                                name="company"
                                value="<%= profile.company %>"
							/>
							<small class="form-text text-muted">Could be your own company or one you work for</small>
						</div>
						<div class="form-group">
							<input type="text"
							class="form-control form-control-lg"
							placeholder="Website"
                            name="website"
                            value="<%= profile.website %>"
						/>
							<small class="form-text text-muted">Could be your own or a company website</small>
						</div>
						<div class="form-group">
							<input
								type="text"
								class="form-control form-control-lg"
								placeholder="Location"
                                name="location"
                                value="<%= profile.location %>"
							/>
							<small class="form-text text-muted">City & state suggested (eg. Boston, MA)</small>
						</div>
						<div class="form-group">
							<input
								type="text"
								class="form-control form-control-lg"
								placeholder="Skills"
                                name="skills"
                                value="<%= profile.skills %>"
							/>
							<small class="form-text text-muted">Please use comma separated values (eg. HTML,CSS,JavaScript,PHP)</small>
						</div>
						<div class="form-group">
							<input
								type="text"
								class="form-control form-control-lg"
								placeholder="Github Username"
                                name="githubusername"
                                value="<%= profile.githubusername %>"
							/>
							<small class="form-text text-muted">If you want your latest repos and a Github link, include your username</small>
						</div>
						<div class="form-group">
							<textarea class="form-control form-control-lg" placeholder="A short bio of yourself" name="bio">
                                <%= profile.bioy %>
							</textarea>
							<small class="form-text text-muted">Tell us a little about yourself</small>
						</div>

						<div class="mb-3">
							<button type="button" class="btn btn-light">Add Social Network Links</button>
							<span class="text-muted">Optional</span>
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
								<i class="fab fa-twitter"></i>
								</span>
							</div>
							<input
								type="text"
								class="form-control form-control-lg"
								placeholder="Twitter Profile URL"
								name="twitter"
								value="<%= profile.social.twitter %>"
							/>
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
								<i class="fab fa-facebook"></i>
								</span>
							</div>
							<input
								type="text"
								class="form-control form-control-lg"
								placeholder="Facebook Page URL"
								name="facebook"
								value="<%= profile.social.facebook %>"
							/>
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
								<i class="fab fa-linkedin"></i>
								</span>
							</div>
							<input
								type="text"
								class="form-control form-control-lg"
								placeholder="Linkedin Profile URL"
								name="linkedin"
                                value="<%= profile.social.linkedin %>"
							/>
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
								<i class="fab fa-youtube"></i>
								</span>
							</div>
							<input
								type="text"
								class="form-control form-control-lg"
								placeholder="YouTube Channel URL"
								name="youtube"
                                value="<%= profile.social.youtube %>"
							/>
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
								<i class="fab fa-instagram"></i>
								</span>
							</div>
							<input
								type="text"
								class="form-control form-control-lg"
								placeholder="Instagram Page URL"
								name="instagram"
                                value="<%= profile.social.instagram %>"
							/>
						</div>
						<input type="submit" class="btn btn-outline-danger btn-block mt-4" value="update" />
					</form>
				</div>
			</div>
		</div>
	</div>
    <!-- profile -->


<%- include('../includes/footer.ejs') %>