<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/public/vendor/styles/updateducation.css">
<title> <%= user.name.split(' ')[0] %> : Update Education </title>
</head>

<body>


    <!-- the navbar -->
    <%- include('../includes/navbar.ejs') %>

    <!-- experience -->
    <div class="section add-experience">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <a href="/dev/dashboard" class="badge btn-warning">
                        Go Back
                    </a>
                    <h1 class="display-4 text-center btn btn-danger header">Update Your Education</h1>
                    <small class="d-block pb-3">* = required field</small>
                    <%- include('./includes/exp_messages.ejs') %>
                    <form action="/dev/education/update/<%= education.id %> " method="POST">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control form-control-lg"
                                placeholder="* School Or Bootcamp"
                                name="school"
                                value="<%= education.school %>"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control form-control-lg"
                                placeholder="* Degree Or Certificate"
                                name="degree"
                                value="<%= education.degree %>"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control form-control-lg"
                                placeholder="Field of Study"
                                name="fieldofstudy"
                                value="<%= education.fieldofstudy%>"
                            />
                        </div>
                            <h6>From Date</h6>
                        <div class="form-group">
                            <input
                                type="date"
                                class="form-control form-control-lg"
                                name="from"
                                value="<%= education.from%>"
                            />
                        </div>
                            <h6>To Date</h6>
                        <div class="form-group">
                            <input
                                type="date"
                                class="form-control form-control-lg"
                                name="to"
                                value="<%= education.to%>"
                            />
                        </div>
                        <div class="form-check mb-4">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                name="current"
                                value=""
                                id="current"
                            />
                            <label class="form-check-label" for="current">
                                Current Job
                            </label>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control-lg" placeholder="Job Description" name="description">
                                <%= education.description%>
                            </textarea>
                            <small class="form-text text-muted">Some of your responsibilities, etc</small>
                        </div>
                        <input type="submit" class="btn btn-danger btn-block mt-4" value="update"/>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <%- include('../includes/footer.ejs') %>