<%- include('../includes/header.ejs') %>
</head>

<body>

    <!-- navbar -->
    <%- include('../includes/navbar.ejs')  %>


    <!-- Register -->
    <div class="register">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <h1 class="display-4 text-center btn badge-primary">Sign Up</h1>
                    <p class="lead text-center">Create your DevConnector account</p>
                    <div class="form-group">
                        <!-- the error message -->
                        <%- include('./includes/register_messages.ejs') %>
                    </div>
                    <form action="/api/users/register" method="POST">
                        <div class="form-group">
                            <input
                                type="name"
                                class="form-control form-control-lg"
                                placeholder="Name"
                                name="name"
                                value="<%= typeof name != 'undefined' ? name : '' %>"
                            />
                            <small className="form-text text-muted">This site uses ui-avatar from your name initials</small>
                        </div>
                        <div class="form-group">
                            <input
                                type="email"
                                class="form-control form-control-lg"
                                placeholder="Email Address"
                                name="email"
                                value="<%= typeof email != 'undefined' ? email : '' %>"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="password"
                                class="form-control form-control-lg"
                                placeholder="Password"
                                name="password"
                                value="<%= typeof password != 'undefined' ? password : '' %>"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="password"
                                class="form-control form-control-lg"
                                placeholder="Confirm Password"
                                name="password2"
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                            />
                        </div>
                        <input type="submit" class="btn btn-primary btn-block mt-4" value="Sign Up"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    

    <%- include('../includes/footer.ejs') %>